body {
    font-family: Arial;
    color: white;
  }
  .split {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    /* overflow-x: hidden; */
    padding-top: 20px;
    overflow: hidden;
  }

  .left {
    left: 0;
    width: 15%;
    background-color: #3f0e40;
    overflow: auto;
  }

  .right {
    right: 0;
    width: 85%;
    background-color:white;
  }
  .fa
  {
    color: #52a552 ;
    size: 12px;
  }
  .hlkStyle{
    color: #ffffff !important;
  }
  .centered {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 60%;
    /* transform: translate(-50%, -50%); */
    /* text-align: center; */
  }

ul {
  list-style-type: none;
}

  .btnStyle {
    color: #fff;
    background-color: #3f0e40 ;
    border-color: #3f0e40;
}

/* chatting style */
.top{
  height: 10%;
}
.middle{
  height: 70%;
/* background-color: aqua; */
overflow-x: hidden;

}
.bottom{
  height: 20%;
  /* background-color:burlywood; */
}

.container {
  /* border: 1px solid #dedede; */
  /* background-color: #f1f1f1; */
  /* border-radius: 3px; */
  /* padding: 10px; */
  margin: 5px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  /* float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%; */
  float: left;
  margin-right: 2%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.important-message {
  font-weight: bold;
}

.inputStyle{
  border: 1px solid #3f0e40;
  border-left: none;

}
.btnStyle{
  border: 2px solid #343a40;
  border-right: none;
  margin-left:25px
}
.input-group {
  width: 90%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.h2Style{
  color: #3f0e40;
  text-align:center;
  font-size: 20px;
  }
   a{
    color: white;
    font-size: 18px;
  }
  .spanStyle{
    color: #3f0e40;
    font-size: 18px;

  }
  h3 span {
    background:#fff;
    padding:0 10px;
  }
  h3 {
    width:100%;
    text-align:center;
    border-bottom: 1px solid #3f0e40;
    line-height:0.1em;
    margin:10px 0 20px;
    color: #3f0e40;
    font-size: 16px;
  }
/* notification */
ul.dots * {
  /* disable border-box from bootstrap */
  box-sizing: content-box;
  list-style-type: none;
}

ul.dots li span {
  /* display: block; */
  color: white;
  /* padding: 10px; */
  /* width: 30px; */
  /* height: 30px; */
  /* margin: 0 auto; */
  line-height: 30px;
  text-align: center;
  position: relative;
}
ul.dots li mark {
  border-radius: 20px; 
  width: 16px;
  height: 16px;  
  background-color: #ec0808;
  position: absolute;
  top: -26px;
  left: 100px;
  font-size: 12px;
  line-height: 16px;
  color: #FFF;
  font-weight: bold;
}
