.btnStyle {    
    border-color: #3f0e40;
    background-color: #3f0e40;
    color: white;
}

.btn-link {    
    color: #3f0e40;
    background-color: transparent;
}
label{
    color: #3f0e40;
}
.h1Style{
color: #3f0e40; 
text-align: center;    
font-weight: bold;
}